## Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

Label encoding involves assigning a unique numerical label to each category in the variable. The labels are usually assigned in alphabetical order or based on the frequency of the categories.

Ordinal Encoding is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order.

Eg. When there is a natural order in a category for eg. Degree(Graduate,Post-Graduate,Masters,Phd) ,then I will choose Ordinal Encoding as Phd should be assigned value 1 ,Masters value 2 and so on.

## Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

In Target Guided Ordinal Encoding, we replace each category in the categorical variable with a numerical value based on the mean or median of the target variable for that category. This creates a monotonic relationship between the categorical variable and the target variable, which can improve the predictive power of our model.

In [2]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Eg. I will use Target Guided Ordinal Encoding in this to encode time feature with the help of target feature total_bill.

## Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Covariance provides the a measure of strength of correlation between two variable or more set of variables.
It is important in statistical analysis because it is used to find how two or more features are related to each other and how increasing or decreasing value of one feature affects other feature.

Formula : 
cov(x,y) = np.cov(x,y)

## Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.Show your code and explain the output.

In [5]:
import pandas as pd
df = pd.DataFrame({'Color':['red','green','blue'],
                  'Size':['small','medium','large'],
                  'Material':['wood','metal','plastic']})

In [6]:
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [7]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder = LabelEncoder()

In [9]:
color_encoded = lbl_encoder.fit_transform(df[['Color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
color_encoded

array([2, 1, 0])

Red is assigned numerical value 2,Green :1 and blue:0 based on the alphabetical order in the LabelEncoding of Feature Color.

## Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [11]:
df1 = pd.DataFrame({'Age':[32,45,25,28],
                   'Income':[45000,30000,60000,55000],
                   'Education_Level':['Post_Graduate','Graduate','Phd','Masters']})

In [13]:
df1.cov()

/tmp/ipykernel_168/3142585312.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.cov()

                  Age       Income
Age         77.666667    -115000.0
Income -115000.000000  175000000.0

Based on the Output,as Age increases Income Decreases as they are highly negatively correlated.

## Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

I would use One Hot Encoding for Gender because there there is only two categoriesis i.e. Male,Feamle.So whenever there is a Male 1 is assigned and Female 0 and Whenever there is a Female 1 is assigned and male 0 by creating two new features .

I would use Ordinal Encoding for Education Level as Phd should be given maximum numerical value as compared to other categories as it is greater than other categories and likewise for Master's 2,Bachelor's 1 and School 0.

I would use OneHot Encoding for Employment status because there are only three categories so new three new features would be created with encoded data.

## Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West). Calculate the covariance between each pair of variables and interpret the results.

In [14]:
df2 = pd.DataFrame({'Temperature(in C)':[42,35,20,28],
                   'Humidity':[45,37,18,10],
                   'Weather_Condition':['Sunny','Cloudy','Rainy','Cloudy'],
                   'Wind Direction':['North','South','East','West']})

In [15]:
df2.cov()

/tmp/ipykernel_168/3825087732.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.cov()

                   Temperature(in C)    Humidity
Temperature(in C)          88.916667  129.166667
Humidity                  129.166667  264.333333

Based on the Output,as temperature increases Humidity also increases as They are highly positively correlated.